<div class="card border-info h-100">
  <img class="card-img-top" src="assets/images/{{product.productImage}}" alt="Card image cap">
  <div class="card-img-overlay sale-img">
    <div *ngIf="product.isSale">
      <img class="logo" src="assets/sale-new.png" alt="Card image cap">
    </div>
  </div>
  <div class="card-body md-12">
    <div class="row">
      <div class="col-md-8">
        <p class="card-text">{{product.productName}}</p>
      </div>
      <div class="col-md-4 price">
        <p>
          {{product.price}}
        </p>
      </div>
    </div>
  </div>
