<div class="container">    
    <nav class="navbar navbar-light bg-light justify-content-between">
        <h5 class="navbar-text font-weight-bold">
            {{apptitle}}
        </h5>
        <form class="form-inline">
            <select class="form-control mr-sm-2" (change)="valueSelected($event.target.value)">
                <option value="{{selecttitle}}">{{selecttitle}}</option>
                <option *ngFor="let item of categorylist">{{ item }}</option>
            </select>
        </form>
      </nav>    
    <div class="container">      
        <app-product-list [category]='selectedproduct'></app-product-list>      
    </div>
</div>



